[submodule "drivers/android"]
	path = drivers/android
	url = https://github.com/Tai-Kimura/jsonui-test-runner-android.git
[submodule "drivers/web"]
	path = drivers/web
	url = https://github.com/Tai-Kimura/jsonui-test-runner-web.git
[submodule "drivers/ios"]
	path = drivers/ios
	url = https://github.com/Tai-Kimura/jsonui-test-runner-ios.git
